@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

  .mern{
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sectionScrollInSmall {
    scroll-margin-top: 80px;
  }

  .sectionScrollInLg {
    scroll-margin-top: 0px;
  }
  .parent:hover .child {
    display: flex;
    text-underline-offset: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .child {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .parent:hover .child {
    opacity: 1;
  }

  .bgImg{
    background-image: url('/heartines.gif');
   
    
  }
  .liveYourDream{
    background-image: url('/liveyourdream.gif');
    background-size: "cover";
    background-position: "center";
    background-repeat: no-repeat;
    
  }
  .pinkShots{
    background-image: url('/pinkShots.gif');
    background-size: "cover";
    background-position: "center";
    background-repeat: no-repeat;
    
  }
  .bgCloud{
    background-image: url('/bgCloudSpin.gif');
    background-size: "cover";
    
    
  }
  .footerLotus{
    background-image: url('/footerLotus.gif');
    background-size: "cover";
    background-repeat: inherit;
    width: 50%;
    
  }

  .frame{
    background-image: url('/frameOne.gif');
    background-size: "cover";
   
  }
  .openBtn{
    background-image: url('/open.gif');
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
  }

  .scroll-hidden {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}